<div class="activites-admin">
  <app-header mode="compact"></app-header>

  <main class="page-content">
  <div class="actions-bar">
    <h1 class="page-title">
      <i class="ri-calendar-event-line"></i>
      Gestion des activités
    </h1>
    <button class="btn-add" (click)="openAddModal()">
      <i class="ri-add-line"></i>
      Ajouter une activité
    </button>
  </div>

  <app-data-table
    [columns]="tableColumns"
    [data]="activites"
    [pageable]="true"
    [pageSize]="5"
    [loading]="loading"
    [actions]="tableActions"
    (actionClick)="onTableAction($event)"
    >
  </app-data-table>
  </main>

  <!-- Modal add/edit activite (réutilise app-modal) -->
  <app-modal [title]="isEditing ? 'Modifier l\'activité' : 'Ajouter une activité'" [open]="showModal" [size]="'xlarge'" (close)="closeModal()">
    <app-activite-form
      [activite]="currentActivite"
      [zones]="zones"
      [villes]="villes"
      (save)="onFormSave($event)"
      (cancel)="closeModal()">
    </app-activite-form>
  </app-modal>
</div>
